{%extends 'base.html'%} {%block content %}{{block.super}}
<div class="myCards">
    {%for picture in pictures%}
    <div class="card" style="width: 26rem;" data-toggle="modal" data-target="#{{picture.id}}">
        <div class="card-header">
            <div class="card-image">
                <img src="{{picture.image.url}}">
            </div>
        </div>

        <div class="card-body">
            <p class="card-title"> {{picture.title}} </p>
        </div>

    </div>
    {%endfor%}
</div>
{%endblock%}